.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.grow {
  flex-grow: 0 !important;
}
/* .topad {
  padding-top: 200px;
} */
.font{
  font-size: 12px;
}
.sidebarleft {
  padding-top: 87px !important;
}
.sidebar {
  width: 300px;
  position: fixed;
  max-height: 90vh;
  color: #4154f1;
  overflow-y: scroll;
} 
.dashboard {
  padding-left: 300px !important;
}
.text-color {
  color: #4154f1;;
}
.heading{
  color: #012970;
}
@media screen and (max-width:1000px) {
  .padleft{
    padding-left: 20px!important;
  }
}